<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.v7lin.facebook_applinks">
    <application>
        <activity android:name="android.app.Activity">
            <intent-filter>
                <action android:name="android.intent.action.ALL_APPS"/>
                <category android:name="fb"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
